
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
	font-size: 30px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
}

.header-left h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right button {
    margin-left: 10px;
}