#btnContainer {
	text-align: center;
}

.pad-row {
	text-align: center;
}

#bpmInput {
	width: 100px;
	background-color: #0D0D0D;
	border: none;
	font-size: 40px;
}

.key {
	margin: 5px;
	width: 75px;
	height: 50px;
	background-color: #FEE1E8;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
	border: 3px none;
}

.instrument {
	float: left;
	margin-top :5px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-color: #FEE1E8;
	border-radius: 10px;
}

.active {
	border: 3px solid white;
}

#powerBtn {
	width: 60px;
	height: 60px;
	fill: currentColor;
}

#powerBtn.on {
	fill: aquamarine;
}



.row-1 .key.on {
	background-color: #FF007F;
}

.row-2 .key.on {
	background-color: #00FF2E;
}

.row-3  .key.on {
	background-color: #00DDFF;
}

.row-4  .key.on {
	background-color: #D400FF;
}

